html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard
    /*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

containner {
  background-color: white;
  max-width: 390px;
  width: 100%;
  height: 100vh;
  position: relative; /*고정 버튼과의 관계를 inner로 하기위해서*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
